html {
  font-size: 15px;
  font-family: Arial, sans-serif;
  display: flex;
  line-height: 1;
}
img {
  align-self: center;
  max-width: 100%;
  height: auto;
  border-radius: 12%;
}
body {
  align-items: center;
  margin: auto;
  background-color: #0000cf;
  color: #d9d9f8;
  font-weight: 400;
}
table {
  position: relative;
  align-items: center;
  align-content: center;
  margin: auto;
  border-style: dotted;
  padding: 3px;
  border-radius: 10px;
  background: #176694;
}
thead, th {
  border-radius: 10px;
  border-style: groove;
  border-color: #78c8e6;
  font-weight: 750;
  padding: 5px;
}
tbody, td {
  border-radius: 10px;
  border-style: inset;
  border-color: #78c8e6;
  padding: 3px;
  width: auto;
  height: auto;
  font-size: 20pt;
}
#mars {
  color: #cc0000;
}
#saturn {
  color: #ffd629;
}
#venus {
  color: #ffe88c;
}
#earth {
  color: #52ebc2;
}
.title {
  font-size: 35pt;
  color: #f5fcff;
  font-weight: 750;
  display: flex;
  justify-content: center;
  align-items: center;
  text-aligh: center;
}
.caption {
  font-size: 20pt;
  color: #c9c9db;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.dataheads {
  color: #ababc7;
  font-size: 15pt;
  font-variant: small-caps;
}
.data {
  font-size: 15pt;
  font-variant: normal;
}
.planetname {
  font-size: 24pt;
  padding: 3px;
  text-align: center;
}
